*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* border: 1px solid blue; */
    }


body {
    background-color: gray;
    background-image: url('assets/Bedford.png');
    background-repeat:no-repeat;
    overflow: hidden;
    background-position: center;
    background-size: cover;
    

}
/* the main card container */


.logo {
  display: grid;
  grid-template-columns: 100px;
  margin-left: 200px;
  margin-top: 25px;
  margin-right: 200px;
  width: 50%;
  position: relative; 
}
h1{
  
  margin-bottom: 0px;
  margin-left: 25px;
  font-family: "UnifrakturMaguntia", cursive;
  font-weight: 400;
  font-style: normal;
  text-align: left;
  font-size: 100px;
  position: relative; top: 40px;
  color: black;
  
}

h2{
  margin-top: 0px;
  margin-left: 200px;
  padding-top: 0px;
  font-family: 'Kumbh Sans', sans-serif;
  font-weight: 400;
  font-size: 40px;
  font-style: normal;
  text-align: left; 
  top: 40px;
  color: black;
} 


.image-grid{
  margin-left: 145px;
  display: grid;
  grid-template-columns: 100px 250px;
  grid-template-rows: 25px 25px 25px;
  grid-gap: 15px;
}

.link-logo{
  margin-top: 97px;
  margin-left: 60px;
  grid-column: 1/2;
  grid-row: 1/2;
}

.insta-logo{
  margin-top: 97px;
  margin-left: 62px;
  grid-column: 1/2;
  grid-row: 2/3;
}

.mail-logo{
  grid-column: 1/2;
  grid-row: 3/4;
  margin-top: 100px;
  margin-left: 64px;
}

.linkedin{
  grid-column: 2/3;
}

.insta{
  grid-column: 2/3;
}

.email{
  grid-column: 2/3;
}

h3{
  margin-top: 0px;
  padding-top: 0px;
  font-family: 'Kumbh Sans', sans-serif;
  font-weight: 450;
  font-size: 20px;
  color: black;
  text-align: left;
  position: relative; 
  top: 100px;
}
/* How links are styled on page load and also after a link has been visited */
a:link, a:visited {
  color: rgba(181, 10, 10, 0.671);
  padding: 0px 0px;
  text-align: left;
  text-decoration: none;
}
/* how a link is styled when you hover over it */
 h3:hover {
  color:rgba(181, 10, 10, 0.671);
  font: size 25px;
}

/* specific styling to scale elements down for mobile */
@media only screen and (max-width: 900px) {
  

  h1{
    top: 22px;
    font-size: 50px;
  }
  
  h2{
    font-size: 25px;
    top: 40px;
    text-align: left;
  } 
  
  h3{
    font-size:12px;
    top: 60px;
    text-align: left;
  }

  .logo {
    display: grid;
    grid-template-columns: 100px;
    margin-left: 35px;
    margin-right: 0px;
    width: 50%;
    position: center; 
  }
  .image-grid{
    position: left;
    display: grid;
    grid-template-columns: 80px 250px;
    grid-template-rows: 25px 25px 25px;
    grid-gap: 15px;
  }
  
  .link-logo{
    margin-top: 53px;
    margin-left: 60px;
    grid-column: 1/2;
    grid-row: 1/2;
  }
  
  .insta-logo{
    margin-top: 53px;
    margin-left: 62px;
    grid-column: 1/2;
    grid-row: 2/3;
  }
  
  .mail-logo{
    grid-column: 1/2;
    grid-row: 3/4;
    margin-top: 57px;
    margin-left: 64px;
  }

  }
  }